li {
  background-color: aquamarine;
}

#expect-header {
  font-family: cursive;
  text-decoration: underline dotted;
}

#course-outcomes {
  text-decoration: line-through;
  background-color: rgba(100, 19, 255, 0.1);
}

.input-field {
  display: block;
}

/* Span color for whole document */
span {
  color: #914f4a;
}

body {
  font-family: Courier;
  background-color: beige;
  color: #333;
}

h1 {
  text-align: center;
  color: black;
}

#outcomes-section {
  border: 4px double gray;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  margin: 5px;
  box-shadow: 0 5px 8px rgb(181, 181, 181);
}

/* apply to h2 inside #outcomes-section */
#outcomes-section h2 {
  margin: 0;
}

table {
  width: 80%;
  margin: 20px auto;
  border: 3px solid black;
  background-color: white;
  box-shadow: 0 5px 8px rgb(181, 181, 181);
  border-collapse: collapse;
}

/* apply to both selectors */
th,
td {
  border: 2px solid #000000;
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgb(183, 110, 26);
  color: white;
}

#contact-us-form {
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

/* select using attributes */
input[type="submit"] {
  background-color: maroon;
  color: whitesmoke;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: greenyellow;
  color: black;
}
.footer,
footer {
  text-align: center;
  padding: 15px;
}
.footer {
  background-color: #6b59ac;
  color: #fffff;
}
footer {
  background-color: darkgoldenrod;
}
